<div class="row" *ngIf="!selectedCountry">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let country of countries">
    <span (click)="searchLabels(country)">{{country.name}}</span>
  </div>
</div>
<div *ngIf="selectedCountry">
  <a (click)="showCountryList()">Country list</a> > {{selectedCountry.name}}
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h4>Name</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <h4>Specialisation</h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h4>Status</h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h4>Country</h4>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <h4>Website</h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h4>Online Shopping?</h4>
    </div>
  </div>
  <div class="row" *ngFor="let label of labelsByCountry">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      {{label.name}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      {{label.specialisation}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      {{label.status}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      {{label.country}}
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
      {{label.website}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      {{label.shopping ? 'Yes' : 'No'}}
    </div>
  </div>
</div>
