<h1>Frequently Asked Questions</h1>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    The frequently asked questions... we nicely ask that you read all of this before emailing us or asking on the forums! Otherwise,
    should you ask us something that is answered here, we will either send you the link to that page, or ignore you. Not because
    we're rude, but we just don't have the time to always answer the same questions over and over again to individuals. There
    is no specific order of questions for now, sorry about that. And we apologize in advance if some answers seem rude, but even
    our patience has limits. ;)
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Test
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse" id="collapseExample">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
    craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
