<h2>{{band.name}}</h2>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Country of origin:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.origin}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Location:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.location}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Status:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.status}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Formed in:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.formedIn}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Years active:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.yearsActive}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Genre:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.genre}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Lyrical themes:</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.lyricalThemes}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>Current label</div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>{{band.currentLabel}}</div>
      </div>
    </div>
  </div>
</div>
<div class="space">
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{band.bio}}
  </div>
</div>
<div class="space">
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <tabset>
      <tab heading="Discography">
        <app-band-discography [discography]="discography"></app-band-discography>
      </tab>
      <tab heading="Members">Static content 1</tab>
      <tab heading="Reviews">Static content 2</tab>
      <tab heading="Similar artists">Static content 3</tab>
      <tab heading="Related links">Static content 4</tab>
      <tab heading="Reports">Static content 5</tab>
    </tabset>
  </div>
</div>
<div class="space">
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div>Added by: Blastbeats</div>
    <div>Added on: 2002-07-19 19:20:26</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
    <div>Modified by: Torquia</div>
    <div>Last modified on: 2017-12-28 21:29:48</div>
  </div>
</div>
