<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <select name="rating" id="rating">
      <option *ngFor="let rating of ratingRange" value="{{rating}}">
        {{rating}}%
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    100%
    <table class="table table-responsive">
      <thead>
        <th>Read</th>
        <th>Band</th>
        <th>Album</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews">
          <td>{{review.url}}</td>
          <td>{{review.band}}</td>
          <td>{{review.album}}</td>
          <td>{{review.rating}}</td>
          <td>{{review.author}}</td>
          <td>{{review.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
