<h1 class="text-center">Artist</h1>
<p ng-show="message.text">
  {{message.text}}
</p>
<form ng-submit="save()">
  <div class="form-group">
    <label for="nane">Name</label>
    <input type="text" class="form-control" id="name" name="name" required ng-model="artist.name">
  </div>
  <div class="form-group">
    <label for="nane">Genre</label>
    <input type="text" class="form-control" id="genre" name="genre" required ng-model="artist.genre">
  </div>
  <div class="form-group">
    <label for="nane">Status</label>
    <input type="text" class="form-control" id="status" name="status" required ng-model="artist.status">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" id="email" name="email"
        placeholder="email@example.com" ng-model="artist.email" required>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#/" class="btn btn-default">Back</a>
  </div>
</form>
