<h2>Browse Bands - Alphabetically</h2>
<div class="row">
  <span (click)="fetchBands('A')">A</span>
  <span (click)="fetchBands('B')">B</span>
  <span (click)="fetchBands('C')">C</span>
  <span (click)="fetchBands('D')">D</span>
  <span (click)="fetchBands('E')">E</span>
  <span (click)="fetchBands('F')">F</span>
  <span (click)="fetchBands('G')">G</span>
  <span (click)="fetchBands('H')">H</span>
  <span (click)="fetchBands('I')">I</span>
  <span (click)="fetchBands('J')">J</span>
  <span (click)="fetchBands('K')">K</span>
  <span (click)="fetchBands('L')">L</span>
  <span (click)="fetchBands('M')">M</span>
  <span (click)="fetchBands('N')">N</span>
  <span (click)="fetchBands('O')">O</span>
  <span (click)="fetchBands('P')">P</span>
  <span (click)="fetchBands('Q')">Q</span>
  <span (click)="fetchBands('R')">R</span>
  <span (click)="fetchBands('S')">S</span>
  <span (click)="fetchBands('T')">T</span>
  <span (click)="fetchBands('U')">U</span>
  <span (click)="fetchBands('V')">V</span>
  <span (click)="fetchBands('W')">W</span>
  <span (click)="fetchBands('X')">X</span>
  <span (click)="fetchBands('Y')">Y</span>
  <span (click)="fetchBands('Z')">Z</span>
  <span (click)="fetchBands('#')">#</span>
  <span (click)="fetchBands('~')">~</span>
</div>
<div>
  Please choose a letter in the menu above.
</div>
<div>
  For numbers, select #.
</div>
<div>
   For non-Latin alphabets or for symbols, select ~.
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
    <h4>Name</h4>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <h4>Country</h4>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <h4>Genre</h4>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h4>Status</h4>
  </div>
</div>
<div class="row" *ngFor="let band of bands">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
    {{band.name}}
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    {{band.country}}
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    {{band.genre}}
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    {{band.status}}
  </div>
</div>
