@charset 'utf-8';

$background-color: #000000;
$link-color: #A2787a;
$link-color-visited: #787878;

html, body, #app {
  background-color: $background-color;
  height: 100%;
  font: 11px/16px Verdana,Arial,Geneva,sans-serif;
  color: white;
  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: $link-color;
}

a:visited {
  color: $link-color-visited;
}

button {
  border: none;
  background-color: #6D3F40;
  color: #FFFFFF;
  height: 2em;
  border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
}
