<h1>Other stuff to do</h1>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <strong>I will do what I want, but these things will be interesting to have too.</strong>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    High priority - needs to be fixed ASAP
    Reported pages -- bands, albums, artists and labels that have been flagged for corrections.
    Side-A albums -- albums that are marked as having only one side (due to poor album data entry for vinyls and tapes)
    Bands without albums -- bands which have no releases entered in the discography.
    Bands and albums without line-ups -- bands and albums that have no artists attached to them
    Repair broken encodings -- some Chinese, Cyrillic, etc. characters were often broken in v1. V2 fully supports international character sets, so please check this thread if you want to help fix the broken characters.
    Potential duplicate versions -- albums versions that may have been duplicated mistakenly
    Releases with no format set -- albums that need to be investigated and have their format (CD, vinyl, etc.) set correctly.
    Low-priority - nice to have
    Albums without covers -- go here to hunt down which album pages are missing cover arts.
    Artists without a country and/or gender -- most of those were accidentally left blank and can probably be filled in.
    Bands in need of more research -- a forum thread to list and discuss bands that could potentially be added to the site, but are missing some necessary data.
    Bands with alternate spellings -- this field being so misused, use this list to fix invalid entries.
    Artists with internal band links -- a list that should be monitored to make sure no band links are erroneously entered on artist pages (see the list page for more details)
  </div>
</div>
