<p>
   There are currently 118402 bands, 326711 registered users and 94365 reviews in Encyclopaedia Metallum. [More stats]
</p>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <app-shared-news *ngFor="let post of news" [post]="post"></app-shared-news>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Latest additions</h4>
        <app-home-latest></app-home-latest>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Latest updates</h4>
        <app-home-latest></app-home-latest>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Latest reviews</h4>
        <app-home-latest-reviews></app-home-latest-reviews>
      </div>
    </div>
  </div>
</div>
